header {
	height: 100vh;
	position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(68, 68, 68, 0.6)),
		url(../../../public/assets/pexels-elle-hughes-2696064.jpg);
	background-size: cover;
	color: #fff;
}

.header-container {
	width: 1200px;
	position: absolute;

	/* in relation to parent size */
	left: 50%;
	top: 50%;

	/* in relation to element size */
	transform: translate(-50%, -50%);
}

.header-container-inner {
	width: 50%;
}

nav {
	font-size: 20px;
	font-weight: 700;
	display: flex;
	justify-content: space-between;
	padding-top: 32px;
}

h1 {
	font-size: 52px;
	margin-bottom: 32px;
	line-height: 1.05;
}

p {
	font-size: 20px;
	line-height: 1.6;
	margin-bottom: 48px;
}
.btn:link,
.btn:visited {
	font-size: 20px;
	font-weight: 600;
	background-color: #69c043;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 16px 32px;
	border-radius: 9px;
}

h2 {
	font-size: 44px;
	margin-bottom: 48px;
}

section {
	padding: 96px 0;
	background-color: #f7f7f7;
}
