.logo {
	/* height: 2.4rem; */
	font-size: 2.4rem;
}

.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	/* background-color: #fae5d3; */
	background-color: #e0fae4;
	height: 9.6rem;
	padding: 0 4.8rem;
}

.main-nav-list {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 3.3rem;
}

.main-nav-link:link,
.main-nav-link:visited {
	display: inline-block;
	text-decoration: none;
	/* color: #472608; */
	color: #002600;
	font-weight: 500;
	font-size: 1.8rem;
	transition: all 0.3s ease-in-out;
}

.main-nav-link:hover,
.main-nav-link:active {
	/* color: #ee7300; */
	color: #80c080;
	transition: all 0.3s ease-in-out;
}

.nav-cta {
	font-size: 2.1rem;
	color: #fff;
	background-color: #354938;
	/* background-color: #ee7300; */
	border-radius: 0.3rem;
	text-decoration: none;
	transition: all 0.3s ease-out;
	border: 1px solid rgba(0, 0, 0, 0.158);
	cursor: pointer;
	display: inline-block;
	font-weight: 600;
	line-height: 1.2;
	padding: 0.3rem 1.25rem;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.27);
	vertical-align: middle;
}

.nav-cta:link,
.nav-cta:visited {
	padding: 0.6rem 2.4rem;
	border-radius: 3px;
	/* background-color: #ee7300; */
	background-color: #354938;
	color: #fff;
}
