.hero-section {
	background-color: #e0fae4;
	padding: 4.5rem 0 9.6rem 0;
}

.hero {
	max-width: 130rem;
	margin: auto;
	padding: 0 3.2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 9.6rem;
	align-items: center;
}

.heading-primary {
	font-size: 6.2rem;
	font-family: 'Rubik-ExtraBold';
	font-weight: 700;
	line-height: 1.05;
	color: #333;
	letter-spacing: -0.5px;
	margin-bottom: 3.2rem;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.63);
}

.hero-description {
	font-size: 2rem;
	line-height: 1.6;
	margin-bottom: 4.8rem;
}

.hero-img {
	max-width: 100%;
}

.mx-sm {
	margin-right: 1.8rem !important;
}

.customer-feedback {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	margin-top: 6rem;
}

.customer-imgs {
	display: flex;
}

.customer-imgs img {
	border-radius: 50%;
	height: 4.5rem;
	width: 4.5rem;
	margin-right: -1.6rem;
	border: 2px solid #fae5d3;
}

.customer-imgs img:last-child {
	margin: 0;
}

.feedback-text {
	font-size: 1.8rem;
	font-weight: 600;
	color: #555;
}
.feedback-text span {
	/* color: #733f11; */
	color: #354938;
	font-weight: 800;
}
